@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff0f3; /* Soft pink background */
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffccd5; /* Light pink for a soft contrast */
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    font-family: 'Lora', serif;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h3, h4 {
    text-align: center;
    color: #333;
    font-family: 'Lora', serif;
    font-size: 1.75em;
}

.prompt {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
}

.form-group label {
    color: #555;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.btn-primary {
    background-color: #ffccd5;
    border-color: #ffccd5;
    font-size: 1.25em;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.btn-primary:hover {
    background-color: #ffb3ba;
    border-color: #ffb3ba;
}

.list-group-item {
    border: none;
    padding: 10px 0;
}

.list-group-item a {
    color: #ff99a1;
    font-weight: 500;
    text-decoration: none;
}

.list-group-item a:hover {
    color: #ff6670;
    text-decoration: underline;
}

.mt-4, .mt-5 {
    margin-top: 1.5rem !important;
}

.list-group {
    margin-top: 20px;
}
